@{
    ViewBag.Title = "About the Whose Turn Is It, Anyway? web app";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Create an account or login to start taking turns the easy way. No more bad guy. No more:  "Whose turn is it, Timmy?"
    Timmy says, "Not my turn!".
</p><br />
<p><a href="/Home/SharedTask" class="btn btn-primary btn-lg">Click to create a shared task</a></p>
